- p4 = "Software Engineering & Web and Mobile Development";
- p5 = "My main interest is in Software Engineering. In my fourth year of university, I focused on taking multiple courses related to software engineering such as: Software Engineering I, Software Project Management, Software Verification and Validation, Human-Computer Interaction, and Software Tools.";
- p6 = "I am also very interested in web and mobile development. I have lots of experience with multiple web languages and frameworks, as well as some experience with Android development. I like this area of development because it addresses the modern popularity of on-the-go applications and services.";
- a2 = {title:"interests", text:{p1:p4, p2:p5, p3:p6}};
