mixin footer
	div#footer
		p#contact Contact: (123) 456-7890
		a.link.active(href="http://www.wikipedia.com") Wikipedia
		a.link.active(href="http://www.linkedin.com") LinkedIn
		a.link.active(href="http://www.facebook.com") Facebook
		p#copyright
			| <b>Copyright &#169; IoT 2017. All rights reserved.</b>
