mixin navigation(page)
	nav#navigation
		a#logo(href="home.html") iot.
		- if (page == "home") {
			a.link.active(href="home.html") Home
			a.link(href="about/about.html") About
			a.link(href="products/products.html") Products
		- }
		- else if (page == "about"){
			a.link(href="../home.html") Home
			a.link.active(href="about.html") About
			a.link(href="../products/products.html") Products
		- }
		- else if (page == "products"){
			a.link(href="../home.html") Home
			a.link(href="../about/about.html") About
			a.link.active(href="products.html") Products
		- }
